<!DOCTYPE html>
<html>
   <head>
<title> soccer bets assitant</title>
   </head>
<center><body style="background-color:black;">
<p style="font-size:350%;color:white">Soccer Bettings Assistant</h2>
<form action="teams" method="post">
{% for key, value in foobar.items() %}
  <p style="font-size:300%;color:pink">{{ key }} : {{ value }}<p/>
{% endfor %}
<p style="font-size:200%;color:pink">enter league number</p>
<input type="text" name="name_input">
<br>
<p style="font-size:200%;color:pink">enter league matchday</p>
<input type="text" name="match_input">
<br>
<input type="submit" name="GREAT" id="great">
</body></center>
</html>